<p>
    <mat-toolbar color="accent">
    <span class="material-icons">person</span>
    <span>User Detail</span>
  </mat-toolbar>
  </p>
<mat-dialog-content class="mat-typography">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user?.email.split('@')[0]}}</mat-card-title>
      <mat-card-subtitle>Email: {{user?.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="column left">
          <h3 class="font-h3">Role </h3>
          <h3 class="font-h3">Membership level</h3>
          <h3 class="font-h3">Data Storage</h3>
        </div>
        <div class="column right" >
          <h3 class="custom-info">{{user?.role.name}}</h3>
          <h3 class="custom-info" *ngIf="user?.membership_level">{{user?.membership_level.member_type}}</h3>
          <app-chart [used]="25"></app-chart>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
