.mat-dialog-content {
    width: 700px;
    height: 500px;
}
.example-card {
    width: 95%;
    height: 90%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.material-icons {
  font-size: 35px;
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 33%;
  padding: 10px;
  font-size: 16px;
}

.row:after {
  display: table;
  clear: both;
}
.font-h3 {
  color: rgb(5, 133, 144);
}
