.mat-form-field {
  width: 300px;
}
.login-wrapper {
  text-align: center;
  display: block;
}
.mat-card {
  width: 400px;
  text-align: center;
}
.card-login-form {
  margin: 0 auto;
  top: 120px;
}
.mat-card-title {
  color: rgb(5, 133, 144);
  text-align: center;
  margin-left: 150px;
}
.example-full-width {
  color: black;
  width: 100%;
}
button {
  width: 100%;
  background-color: rgb(5, 133, 144);
  color: white;
}