<mat-drawer-container class="container" hasBackdrop="false" > 
  <mat-drawer class="sidenav" [opened]="isLogin()" mode="over" color = "primary">
      <mat-action-list>
          <app-button routerLink="/users" icon="supervised_user_circle" title="Users"></app-button>
          <app-button routerLink="/transactions" icon="brightness_7" title="Transactions"></app-button>
          <app-button routerLink="" icon="open_in_browser" title="Statistical"></app-button>
          <app-button routerLink="" icon="login" title="Logout" (click)="logout()"></app-button>
      </mat-action-list>
  </mat-drawer>
</mat-drawer-container>