<mat-toolbar color="primary">
    <span class="material-icons">home_work</span>
    <span class="fill-remaining-space">SecretBox</span>
</mat-toolbar>
<mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" mode="side" hasBackdrop="false">
        <mat-action-list>
            <button mat-list-item ><span class="material-icons">supervised_user_circle</span> Chức năng 1 </button>
            <button mat-list-item ><span class="material-icons">brightness_7</span> Chức năng 2 </button>
            <button mat-list-item ><span class="material-icons">open_in_browser</span> Chức năng 3 </button>
        </mat-action-list>
    </mat-drawer>
    <mat-sidenav-container class="all-wrap">
        <mat-sidenav-content class="page-wrap">
            <main class="content">
                <button mat-button (click)="drawer.toggle()"*ngIf="isLogin()">
                    <span class="material-icons" >menu</span>
                </button>
                <router-outlet></router-outlet>
            </main>
            <footer class="text-center">	&copy; SECRETBOX. All rights reserved</footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</mat-drawer-container>