.material-icons{
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 35px;
  color: 	rgb(248, 108, 107);
}

.fill-remaining-space {
  color: var(--primary-color);
}

.content {
  flex: 1; 
  width: 100%;
  background-color: 	rgb(240, 243, 245);
}

.all-wrap {
  min-height: calc(100vh - 64px); 
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.mat-list-item {
  width: 100%;
}

app-footer {
  text-align: center;
}

.mat-sidenav {
  width: 200px;
}

.mat-toolbar {
  height: 8%;
  background-color: white;
  border-style: ridge;
}
