<mat-toolbar color="primary">
  <span class="material-icons">home_work</span>
  <span class="fill-remaining-space">SecretBox</span>
</mat-toolbar>
<ngx-loading-bar [includeSpinner]="false" [color]="'white'" [height]="'4px'"></ngx-loading-bar>
<mat-sidenav-container class="all-wrap">

  <mat-sidenav-content class="page-wrap">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>

  <mat-sidenav #drawer [opened]="isLogin()" mode="side" color="primary">
      <app-sidenav></app-sidenav>
  </mat-sidenav>

</mat-sidenav-container>