<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-exchange"></i><span class="h5"> Transactions </span>
        </div>
        <div class="card-body">
          <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>User</th>
              <th>Price</th>
              <th>Price Code</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody *ngFor="let transaction of transactions">
              <tr>
                <td> {{transaction.id}} </td>
                <td> {{transaction.subscription_purchase.user_detail.email}} </td>
                <td> {{transaction.price_amount_micros}} </td>
                <td> {{transaction.price_currency_code}} </td>
                <td> {{transaction.created_at | date }} </td>
              </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>