.mat-dialog-content {
  width: 600px;
  height: 300px;
}

.material-icons {
  font-size: 35px;
  margin-bottom: 5px;
}

.column {
  float: left;
  padding: 10px;
  height: 150px; /* Should be removed. Only for demonstration */
}

.left {
  width: 30%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.font-h3 {
  color:var(--blue-color);
}
 .custom-info {
  margin-left: 15%;
 }

 .spinner {
   margin: 0 auto;
 }

 .class-format {
   margin-left: 20px;
   margin-top: 20px;
 }